.slide-container {
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .slide {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .slide.active {
    display: flex;
  }

  video {
    max-width: 95%;
    max-height: 65%;
    border-radius: 100px;
    z-index: 1;
  }

  .nav-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    z-index: 2;
  }

  #up-button {
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }

  #down-button {
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
  }

  #left-button {
    left: 5%;
    top: 70%;
    transform: translateY(-50%);
  }

  #right-button {
    right: 5%;
    top: 70%;
    transform: translateY(-50%);
  }

  .speed-control {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  .speed-control button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .nav-button:hover {
    background-color: #0056b3;
  }
    .nav-button.disabled {
      background-color: #999;
      cursor: not-allowed;
      opacity: 0.5;
      pointer-events: none;
    }

@media (max-width: 380px) {
  .centered-version-buttons {
    top: 35%;
  }

  .centered-version-buttons button {
    font-size: 7px;
    padding: 4px 8px;
  }

  .speed-control,
  .speed-control-kupu {
    top: 120%;
  }

  video {
    max-height: 50%;
    border-radius: 50px;
  }
}
